Repository movementlabsxyz/movement, pull requests merged in 2024-11, with the labels that each got.

#782 feat: keep relayer alive
  protocol-units/bridge/config/src/common/movement.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/integration-tests/tests/bridge_grpc.rs
  protocol-units/bridge/integration-tests/tests/bridge_rest.rs
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/main.rs
  protocol-units/bridge/service/src/rest.rs
Labels: bridge

#798 Update for celestia 0.17 / celestia-appd 2.3
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  protocol-units/da/m1/light-node-verifier/src/celestia/pessimistic.rs
  protocol-units/da/m1/light-node/src/v1/passthrough.rs
  protocol-units/da/m1/light-node/src/v1/sequencer.rs
  protocol-units/da/m1/runners/src/celestia_bridge/local.rs
  protocol-units/da/m1/setup/src/local.rs
  protocol-units/da/m1/util/src/ir_blob.rs
  scripts/services/suzuka-full-node/build
Labels: cicd:suzuka-containers, cicd:suzuka-full-node

#808 Indexer: update aptos-indexer version to correct chain_id issue
  Cargo.lock
  Cargo.toml
Labels: indexer

#807 Bridge: remove unwrap, expect and some warnings
  protocol-units/bridge/service/src/actions.rs
  protocol-units/bridge/service/src/chains/bridge_contracts.rs
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/event_monitoring.rs
  protocol-units/bridge/service/src/chains/ethereum/types.rs
  protocol-units/bridge/service/src/chains/ethereum/utils.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/utils.rs
  protocol-units/bridge/service/src/grpc.rs
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/main.rs
  protocol-units/bridge/service/src/types.rs
Labels: bridge

#810 Bridge: add event monotiring health check
  protocol-units/bridge/config/src/common/eth.rs
  protocol-units/bridge/config/src/common/mod.rs
  protocol-units/bridge/config/src/common/movement.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test_framework.rs
  protocol-units/bridge/integration-tests/tests/client_eth_movement.rs
  protocol-units/bridge/service/src/chains/ethereum/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/main.rs
Labels: bridge

#816 Resolve Process Compose Celestia Bug
  .github/workflows/build-push-containers-all.yml
  Cargo.lock
  flake.nix
  protocol-units/da/m1/light-node/src/v1/passthrough.rs
  protocol-units/da/m1/setup/src/local.rs
Labels: cicd:suzuka-full-node

#813 Fix up ansible/follower-node documentation and recipes
  docs/movement-node-experimental/l-monninger/open-network/README.md
  docs/movement-node/run/ansible/follower-node/README.md
  docs/movement-node/run/ansible/follower-node/suzuka-full-follower.service.j2
  docs/movement-node/run/ansible/follower-node/suzuka-full-follower.yml
Labels: suzuka:ux

#844 deps: bump diesel to 2.2, update aptos-core
  Cargo.lock
  Cargo.toml
  protocol-units/bridge/indexer-db/src/models.rs
Labels: cicd:suzuka-full-node, suzuka:security, cicd:suzuka-multi-node-local

#839 Garbage Collect Inflight
  Cargo.lock
  Cargo.toml
  protocol-units/execution/opt-executor/Cargo.toml
  protocol-units/execution/opt-executor/src/background/task.rs
  protocol-units/execution/opt-executor/src/background/transaction_pipe.rs
  protocol-units/execution/opt-executor/src/executor/initialization.rs
  protocol-units/execution/opt-executor/src/executor/mod.rs
  util/collections/Cargo.toml
  util/collections/README.md
  util/collections/src/garbage/atomic/counted.rs
  util/collections/src/garbage/atomic/mod.rs
  util/collections/src/garbage/counted.rs
  util/collections/src/garbage/map.rs
  util/collections/src/garbage/mod.rs
  util/collections/src/garbage/set.rs
  util/collections/src/lib.rs
Labels: cicd:suzuka-full-node

#501 Reentrancy
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Labels: cicd:mcr

#824 Create bridge config for DB URL
  Cargo.lock
  protocol-units/bridge/config/src/common/indexer.rs
  protocol-units/bridge/config/src/common/mod.rs
  protocol-units/bridge/config/src/lib.rs
  protocol-units/bridge/indexer-db/Cargo.toml
  protocol-units/bridge/indexer-db/src/client.rs
  protocol-units/bridge/service/src/main.rs
Labels: bridge, cicd:bridge-containers

#859 Exploratory Branch for Addressing Missing Bridge Indexer Events
  protocol-units/bridge/indexer-db/migrations/2024-10-31-112521_indexed_bridge_actions/down.sql
  protocol-units/bridge/indexer-db/migrations/2024-10-31-112521_indexed_bridge_actions/up.sql
  protocol-units/bridge/indexer-db/migrations/2024-11-10-112030_indexed_bridge_actions/down.sql
  protocol-units/bridge/indexer-db/migrations/2024-11-10-112030_indexed_bridge_actions/up.sql
  protocol-units/bridge/indexer-db/src/client.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/lib.rs
  scripts/postgres/start-dev
Labels: bridge
