Repository movementlabsxyz/movement, pull requests merged in 2024-09, with the labels that each got.

#479 Primata/465 unit test wrapping to amount and timelock
  protocol-units/bridge/chains/ethereum/src/client.rs
Labels: bridge

#505 Create the config file if not present when the indexer start.
  Cargo.lock
  networks/suzuka/indexer/Cargo.toml
  networks/suzuka/indexer/src/main.rs
  util/dot-movement/src/lib.rs
Labels: cicd:suzuka-full-node

#503 Stronger assertions for counterparty integration tests
  Cargo.lock
  protocol-units/bridge/chains/ethereum/src/client.rs
  protocol-units/bridge/chains/ethereum/src/event_logging.rs
  protocol-units/bridge/chains/movement/Cargo.toml
  protocol-units/bridge/chains/movement/src/lib.rs
  protocol-units/bridge/chains/movement/src/utils.rs
  protocol-units/bridge/integration-tests/tests/eth_movement.rs
  protocol-units/bridge/move-modules/Move.toml
  protocol-units/bridge/move-modules/sources/atomic_bridge_counterparty.move
  protocol-units/bridge/shared/src/bridge_contracts.rs
  protocol-units/bridge/shared/src/bridge_service/active_swap.rs
  protocol-units/bridge/shared/src/initiator_contract.rs
  protocol-units/bridge/shared/src/types.rs
  protocol-units/bridge/shared/tests/abstract_blockchain.rs
  protocol-units/bridge/shared/tests/blockchain_service.rs
  protocol-units/bridge/shared/tests/bridge_service.rs
  protocol-units/bridge/shared/tests/bridge_service_error_handling.rs
  protocol-units/bridge/shared/tests/shared/testing/blockchain/client.rs
  protocol-units/bridge/shared/tests/shared/testing/blockchain/initiator_contract.rs
  protocol-units/bridge/shared/tests/shared/testing/mocks.rs
Labels: bridge

#537 Remove MCRLegacy contract
  .github/workflows/checks-all.yml
  =
  justfile
  process-compose/mcr-client/process-compose.test.yml
  process-compose/mcr/process-compose.local.yml
  process-compose/mcr/process-compose.test.yml
  process-compose/mcr/process-compose.yml
  protocol-units/settlement/mcr/client/abis/MCRLegacy.json
  protocol-units/settlement/mcr/contracts/script/DeployMCRLegacy.s.sol
  protocol-units/settlement/mcr/contracts/src/MCRLegacy.sol
  scripts/mcr/deploy-mcr-to-anvil
  scripts/mcr/mcr-env
  scripts/mcr/run-anvil-for-mcr
Labels: cicd:mcr

#523 Add bridge Movement-side initiator integration tests
  .github/workflows/checks-all.yml
  Cargo.lock
  Cargo.toml
  protocol-units/bridge/chains/movement/src/lib.rs
  protocol-units/bridge/chains/movement/src/utils.rs
  protocol-units/bridge/integration-tests/Cargo.toml
  protocol-units/bridge/integration-tests/src/lib.rs
  protocol-units/bridge/integration-tests/src/utils.rs
  protocol-units/bridge/integration-tests/tests/eth_movement.rs
  protocol-units/bridge/integration-tests/tests/movement_eth.rs
  protocol-units/bridge/move-modules/sources/MOVETH.move
  protocol-units/bridge/move-modules/sources/atomic_bridge_counterparty.move
  protocol-units/bridge/move-modules/sources/atomic_bridge_initiator.move
  protocol-units/bridge/shared/src/bridge_contracts.rs
Labels: cicd:bridge

#536 Genesis can only be ran once if successful per domain
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
Labels: cicd:mcr

#436 Update indexer rev to sleep time between request and Hasura metadata loading
  .github/workflows/checks-all.yml
  Cargo.lock
  Cargo.toml
  docker/compose/suzuka-indexer/docker-compose.hasura.yml
  networks/suzuka/indexer/Cargo.toml
  networks/suzuka/indexer/bin/load_metadata.rs
  networks/suzuka/indexer/hasura_metadata.json
  networks/suzuka/indexer/src/main.rs
  process-compose/suzuka-full-node/process-compose.hasura.yml
  process-compose/suzuka-full-node/process-compose.indexer-test.yml
  scripts/movement/run
  scripts/services/indexer/test_indexer
Labels: cicd:suzuka-full-node

#600 fix: toml
  Cargo.toml
Labels: cicd:suzuka-full-node

#576 Fix test crashes on dropping indexer runtime
  .github/workflows/checks-all.yml
  Cargo.lock
  Cargo.toml
  protocol-units/execution/dof/src/v1.rs
  protocol-units/execution/fin-view/src/fin_view.rs
  protocol-units/execution/opt-executor/src/executor/execution.rs
  protocol-units/execution/opt-executor/src/executor/initialization.rs
  protocol-units/execution/opt-executor/src/service.rs
  protocol-units/execution/opt-executor/src/transaction_pipe.rs
Labels: cicd:suzuka-containers, cicd:suzuka-full-node

#577 Use DB-obtained sequence number when adding transaction to mempool
  protocol-units/execution/opt-executor/Cargo.toml
  protocol-units/execution/opt-executor/src/bootstrap.rs
  protocol-units/execution/opt-executor/src/executor/execution.rs
  protocol-units/execution/opt-executor/src/transaction_pipe.rs
Labels: cicd:suzuka-containers, cicd:suzuka-full-node

#575 Fix: Timelock verification in counterparty module `complete_bridge_transfer` function
  protocol-units/bridge/move-modules/sources/atomic_bridge_counterparty.move
Labels: cicd:bridge

#632 Fix: Clean up Move compiler warnings
  protocol-units/bridge/move-modules/sources/MOVETH.move
  protocol-units/bridge/move-modules/sources/atomic_bridge_counterparty.move
  protocol-units/bridge/move-modules/sources/atomic_bridge_initiator.move
  protocol-units/bridge/move-modules/sources/tests/MOVETH_tests.move
Labels: cicd:bridge, Bridge

#621 Atomically update transaction mempool database
  protocol-units/mempool/move-rocks/src/lib.rs
Labels: cicd:suzuka-containers, cicd:suzuka-full-node
