Repository movementlabsxyz/movement, pull requests merged in 2024-10, with the labels that each got.

#631 Timestamp Ordering
  networks/suzuka/suzuka-client/src/tests/hey-partners/tests/typescript-sdk/package-lock.json
  process-compose/mcr-client/process-compose.test.yml
  protocol-units/mempool/util/src/lib.rs
  protocol-units/settlement/mcr/client/Cargo.toml
  protocol-units/settlement/mcr/client/src/bin/e2e/test_client_settlement.rs
  protocol-units/settlement/mcr/client/src/lib.rs
  protocol-units/settlement/mcr/client/src/tests/e2e/mod.rs
  protocol-units/settlement/mcr/client/src/tests/mod.rs
Labels: cicd:mcr, cicd:suzuka-containers, cicd:suzuka-full-node

#628 Garbage collection in DA light node sequencer
  protocol-units/da/m1/light-node/src/v1/sequencer.rs
  protocol-units/mempool/move-rocks/src/lib.rs
  protocol-units/mempool/util/src/lib.rs
  protocol-units/sequencing/memseq/sequencer/src/lib.rs
  protocol-units/sequencing/util/src/lib.rs
Labels: cicd:suzuka-containers, cicd:suzuka-full-node

#647 deps: bump aptos-core to enable pruner tracing
  Cargo.lock
  Cargo.toml
Labels: cicd:suzuka-containers, cicd:suzuka-full-node

#640 Feat: Bridge Godfig
  Cargo.lock
  Cargo.toml
  protocol-units/bridge/config/Cargo.toml
  protocol-units/bridge/config/src/common/eth.rs
  protocol-units/bridge/config/src/common/mod.rs
  protocol-units/bridge/config/src/common/movement.rs
  protocol-units/bridge/config/src/common/testing.rs
  protocol-units/bridge/config/src/lib.rs
  protocol-units/bridge/integration-tests/Cargo.toml
  protocol-units/bridge/integration-tests/src/lib.rs
  protocol-units/bridge/integration-tests/src/utils.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/integration-tests/tests/client_eth_movement.rs
  protocol-units/bridge/integration-tests/tests/client_movement_eth.rs
  protocol-units/bridge/service/Cargo.toml
  protocol-units/bridge/service/src/chains/bridge_contracts.rs
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/event_monitoring.rs
  protocol-units/bridge/service/src/chains/ethereum/types.rs
  protocol-units/bridge/service/src/chains/movement/client.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/utils.rs
  protocol-units/bridge/service/src/main.rs
  protocol-units/bridge/service/src/types.rs
  protocol-units/bridge/service/tests/bridge_e2e_test.rs
  protocol-units/bridge/service/tests/ethereum.rs
  protocol-units/bridge/service/tests/harness.rs
  protocol-units/bridge/service/tests/movement.rs
  protocol-units/bridge/setup/Cargo.toml
  protocol-units/bridge/setup/src/deploy.rs
  protocol-units/bridge/setup/src/lib.rs
  protocol-units/bridge/setup/src/local.rs
  protocol-units/bridge/setup/src/main.rs
  protocol-units/execution/util/Cargo.toml
Labels: cicd:bridge

#669 Correct move event monitoring.
  Cargo.lock
  protocol-units/bridge/integration-tests/Cargo.toml
  protocol-units/bridge/integration-tests/src/lib.rs
  protocol-units/bridge/integration-tests/src/utils.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/move-modules/sources/atomic_bridge_counterparty.move
  protocol-units/bridge/move-modules/sources/atomic_bridge_initiator.move
  protocol-units/bridge/service/Cargo.toml
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/types.rs
  protocol-units/bridge/service/src/chains/ethereum/utils.rs
  protocol-units/bridge/service/src/chains/movement/client.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/utils.rs
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/types.rs
Labels: cicd:bridge

#672 Indexer add INDEXER_STARTING_VERSION env var
  Cargo.lock
  Cargo.toml
  networks/suzuka/indexer/src/main.rs
Labels: cicd:suzuka-full-node

#676 Helios Updates
  .github/workflows/build-push-containers-all.yml
  docker/build/bridge-setup/Dockerfile
  docker/build/helios/Dockerfile
  docker/compose/bridge/docker-compose.helios.yml
  docker/compose/bridge/docker-compose.remote-mvt.yml
  docker/compose/bridge/docker-compose.setup.yml
  docker/compose/bridge/docker-compose.yml
Labels: cicd:bridge-containers

#679 fix: move erc20 transferFrom, update tests
  protocol-units/bridge/contracts/src/AtomicBridgeInitiatorMOVE.sol
  protocol-units/bridge/contracts/test/AtomicBridgeInitiator.t.sol
  protocol-units/bridge/contracts/test/AtomicBridgeInitiatorMOVE.t.sol
Labels: cicd:bridge, Bridge

#678 Bridge Eth-> Mvt happy path transfer
  protocol-units/bridge/config/src/common/eth.rs
  protocol-units/bridge/integration-tests/src/lib.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/integration-tests/tests/client_movement_eth.rs
  protocol-units/bridge/service/abis/AtomicBridgeInitiator.json
  protocol-units/bridge/service/src/chains/bridge_contracts.rs
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/movement/client.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/states.rs
  protocol-units/bridge/setup/src/deploy.rs
  protocol-units/bridge/setup/src/main.rs
Labels: cicd:bridge, Bridge

#683 Remove Sync Task Participation from Followers
  protocol-units/syncing/syncup/src/lib.rs
Labels: cicd:suzuka-containers, cicd:suzuka-multi-node-local, cicd:bridge-containers

#692 Remove excessive tonic dependencies
  Cargo.lock
  Cargo.toml
  protocol-units/da/m1/light-node-grpc/Cargo.toml
  protocol-units/da/m1/light-node-verifier/Cargo.toml
  protocol-units/da/m1/light-node/Cargo.toml
  protocol-units/da/m1/util/Cargo.toml
Labels: Enhancement, cicd:suzuka-full-node

#682 Remove done transfer from state management.
  protocol-units/bridge/service/src/lib.rs
  protocol-units/bridge/service/src/states.rs
Labels: cicd:bridge

#630 Feat: Efficiency improvements
  protocol-units/bridge/move-modules/sources/MOVETH.move
Labels: cicd:bridge, Bridge

#661 High Sequence Number Elimination and No Redundant Sequence Number by Node
  networks/suzuka/suzuka-client/src/bin/e2e/gas_dos.rs
  protocol-units/execution/opt-executor/src/executor/initialization.rs
  protocol-units/execution/opt-executor/src/gc_account_sequence_number.rs
  protocol-units/execution/opt-executor/src/lib.rs
  protocol-units/execution/opt-executor/src/service.rs
  protocol-units/execution/opt-executor/src/transaction_pipe.rs
  protocol-units/execution/util/src/config/common.rs
  protocol-units/execution/util/src/config/mempool.rs
  protocol-units/execution/util/src/config/mod.rs
Labels: cicd:suzuka-full-node-malicious

#709 Log transaction pruning in memseq
  protocol-units/mempool/move-rocks/src/lib.rs
  protocol-units/mempool/util/src/lib.rs
  protocol-units/sequencing/memseq/sequencer/src/lib.rs
Labels: suzuka:observability

#734 Fix local build scripts for process-compose
  Cargo.lock
  Cargo.toml
  process-compose/suzuka-full-node/process-compose.feed.yml
  process-compose/suzuka-full-node/process-compose.yml
  protocol-units/bridge/service/Cargo.toml
  scripts/services/bridge/build
  scripts/services/m1-da-light-node/build
  scripts/services/monza-full-node/build
  scripts/services/suzuka-full-node/build
  scripts/services/wait-for-celestia-light-node/build
Labels: cicd:suzuka-full-node

#736 Local Run Errors
  protocol-units/da/m1/light-node/src/v1/passthrough.rs
  protocol-units/execution/opt-executor/src/gc_account_sequence_number.rs
  protocol-units/execution/opt-executor/src/transaction_pipe.rs
Labels: cicd:suzuka-full-node

#739 Holesky and Bardock Overlays for Convenience
  docker/compose/bridge/docker-compose.eth-holesky.yml
  docker/compose/bridge/docker-compose.mvt-bardock.yml
Labels: cicd:bridge-containers

#737 feat: configure-bridge .sh
  scripts/services/bridge/configure-bridge.sh
Labels: cicd:suzuka-full-node

#747 Bridge: change Eth monitoring to manual pull
  protocol-units/bridge/integration-tests/tests/client_eth_movement.rs
  protocol-units/bridge/service/src/chains/ethereum/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/event_monitoring.rs
  protocol-units/bridge/service/src/chains/movement/utils.rs
Labels: Bridge

#768 Bridge add sender trace to lock_transfer
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/utils.rs
Labels: bridge

#771 Bridge: set from before gas_estimation
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test.rs
  protocol-units/bridge/integration-tests/tests/bridge_e2e_test_framework.rs
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/utils.rs
  protocol-units/bridge/setup/src/deploy.rs
Labels: bridge

#787 Update follower node docs to use Bardock DNS names
  docs/movement-node/run/ansible/follower-node/suzuka-full-follower.yml
  docs/movement-node/run/manual/follower-node/README.md
Labels: Documentation

#789 Bridge: correct eth monitoring issue with Move token contract
  protocol-units/bridge/config/src/common/eth.rs
  protocol-units/bridge/service/abis/AtomicBridgeCounterpartyMOVE.json
  protocol-units/bridge/service/abis/AtomicBridgeInitiatorMOVE.json
  protocol-units/bridge/service/abis/MockMOVEToken.json
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/chains/ethereum/event_monitoring.rs
  protocol-units/bridge/service/src/chains/ethereum/types.rs
  protocol-units/bridge/setup/src/deploy.rs
Labels: bridge

#786 Feat: Fund Movement recipient
  protocol-units/bridge/integration-tests/tests/client_eth_movement.rs
  protocol-units/bridge/service/src/actions.rs
  protocol-units/bridge/service/src/chains/bridge_contracts.rs
  protocol-units/bridge/service/src/chains/movement/utils.rs
Labels: cicd:bridge

#764 Indexer: add token processors
  Cargo.lock
  docker/compose/suzuka-indexer/docker-compose.local-development.indexer.yml
  networks/suzuka/indexer/Cargo.toml
  networks/suzuka/indexer/bin/load_metadata.rs
  networks/suzuka/indexer/hasura_metadata.json
  networks/suzuka/indexer/src/main.rs
Labels: indexer

#616 Add heath check entry point to the indexer.
  Cargo.lock
  docker/compose/suzuka-indexer/.remote-suzuka-node.env
  docker/compose/suzuka-indexer/docker-compose.indexer.yml
  networks/suzuka/indexer/Cargo.toml
  networks/suzuka/indexer/src/main.rs
  networks/suzuka/indexer/src/service.rs
  process-compose/suzuka-full-node/process-compose.indexer.yml
  protocol-units/execution/util/src/config/common.rs
  protocol-units/execution/util/src/config/indexer.rs
Labels: cicd:suzuka-full-node, indexer
