Repository movementlabsxyz/movement, changes with the owners that CODEOWNERS names for each.
All owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @andygolay, @0xPrimata, @radupopa369

fix(da): streamline random celestia ID generation
  protocol-units/da/movement/protocol/setup/src/common/celestia.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

enable bridge and avoid Diesel bidecimal issue for Bridger indexer db
  Cargo.lock
  Cargo.toml
  protocol-units/bridge/indexer-db/Cargo.toml
  protocol-units/bridge/indexer-db/src/client.rs
  protocol-units/bridge/indexer-db/src/lib.rs
  protocol-units/bridge/service/bin/start_indexer.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat!: set initial celestia synced_height
  networks/movement/movement-full-node/src/node/da_db.rs
  networks/movement/movement-full-node/src/node/partial.rs
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/mainnet.rs
  protocol-units/da/movement/protocol/setup/src/mocha.rs
  protocol-units/da/movement/protocol/util/src/config/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

set a better error message when the config is malformed
  util/godfig/src/backend/config_file/mod.rs
  util/godfig/src/backend/mod.rs
  util/signing/interface/src/key/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Postconfirmation: Distinguish between L1Blocks and superBlocks in the solidity contracts (#1045)
  protocol-units/settlement/mcr/client/abis/MCR.json
  protocol-units/settlement/mcr/client/src/eth_client.rs
  protocol-units/settlement/mcr/client/src/lib.rs
  protocol-units/settlement/mcr/client/src/mock.rs
  protocol-units/settlement/mcr/contracts/README.md
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/src/settlement/interfaces/IMCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  util/movement-types/src/block.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @0xPrimata

start eth query function
  Cargo.lock
  protocol-units/bridge/integration-tests/tests/bridge_rest.rs
  protocol-units/bridge/integration-tests/tests/client_eth_tests.rs
  protocol-units/bridge/service/Cargo.toml
  protocol-units/bridge/service/src/chains/ethereum/client.rs
  protocol-units/bridge/service/src/rest.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix broken testForcedAttestation test
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

comments to cannot grant role test
  protocol-units/settlement/mcr/contracts/test/token/MOVETokenV2.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix buggy testAdminRoleFuzz test
  protocol-units/settlement/mcr/contracts/test/token/MOVEToken.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add testnet in key name environement
  util/signing/interface/src/key/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

[Signing] add testnet in key name environement (#1059)
  util/signing/interface/src/key/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

currentAcceptingEpoch to acceptingEpoch
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

function names
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add comment
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

[postconfirmation] epoch names (#1052)
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVEToken.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVETokenV2.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

StakeForAcceptingEpoch and CustodianStake
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

getStakeAtEpoch needs no explicit mention for epoch
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

getCustodianStakeForAcceptingEpoch
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

getUnstakeForAcceptingEpoch
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

stakesByDomainEpochCustodianAttester
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

set acceptor on rollover empty function
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(da): fetch current block height in setup
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/common/celestia.rs
  protocol-units/da/movement/protocol/setup/src/mainnet.rs
  protocol-units/da/movement/protocol/setup/src/mocha.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(da): force_new_chain to false when well-known
  protocol-units/da/movement/protocol/util/src/config/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

change Harshicorp delimiter to -
  Cargo.lock
  util/signing/providers/hashicorp-vault/Cargo.toml
  util/signing/providers/hashicorp-vault/src/hsm/key.rs
  util/signing/providers/hashicorp-vault/src/hsm/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

[Signing Change Hashicorp Vault delimiter to a - (#1061)
  Cargo.lock
  util/signing/providers/hashicorp-vault/Cargo.toml
  util/signing/providers/hashicorp-vault/src/hsm/key.rs
  util/signing/providers/hashicorp-vault/src/hsm/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add missing getStakeForAcceptingEpoch
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix warnings
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update mcr.json
  protocol-units/settlement/mcr/client/abis/MCR.json
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update BlockAccepted variable
  protocol-units/settlement/mcr/client/src/eth_client.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix warnings
  protocol-units/settlement/mcr/contracts/test/token/Faucet.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVEToken.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVETokenV2.t.sol
  protocol-units/settlement/mcr/contracts/test/token/locked/LockedToken.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

get setup working
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

comments to whitelist
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Fix typos in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Fix typos in docker/compose/movement-indexer/README.md
  docker/compose/movement-indexer/README.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Fix typos in docs/indexer/README.md
  docs/indexer/README.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

ci/cd: fix container checks
  .github/workflows/build-push-containers-all.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

Gas Upgrades and Beta Fixes (#1055)
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
  Cargo.lock
  Cargo.toml
  docker/build/movement-full-node/Dockerfile
  process-compose/movement-full-node/process-compose.test-bring-up-elsa-to-biarritz-rc1.yml
  protocol-units/bridge/indexer-db/Cargo.toml
  protocol-units/bridge/indexer-db/src/client.rs
  protocol-units/bridge/indexer-db/src/lib.rs
  protocol-units/bridge/service/bin/start_indexer.rs
  protocol-units/execution/maptos/framework/releases/feature-flags/src/lib.rs
  protocol-units/execution/maptos/framework/releases/release-script/src/lib.rs
  protocol-units/execution/maptos/framework/releases/upgrade-gas/src/lib.rs
  protocol-units/execution/maptos/framework/releases/util/src/compiler.rs
  protocol-units/execution/maptos/framework/releases/util/src/lib.rs
  protocol-units/execution/maptos/framework/releases/util/src/voter.rs
  util/signing/providers/local/Cargo.toml
  util/signing/providers/local/src/cryptography/ed25519/mod.rs
  util/signing/providers/local/src/cryptography/mod.rs
  util/signing/providers/local/src/signer/ed25519.rs
  util/signing/providers/local/src/signer/mod.rs
  util/signing/providers/local/src/signer/secp256k1.rs
  util/signing/util/loader/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

use SignerIdentifier to load key in Executor initialization
  Cargo.lock
  networks/movement/movement-full-node/src/node/partial.rs
  process-compose/movement-full-node/process-compose.yml
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-appd.rs
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-bridge.rs
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-light.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_appd/mod.rs
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/bin/setup.rs
  protocol-units/da/movement/protocol/setup/src/common/celestia.rs
  protocol-units/da/movement/protocol/util/src/bin/wait_for_light_node.rs
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
  protocol-units/execution/maptos/dof/src/v1.rs
  protocol-units/execution/maptos/fin-view/src/fin_view.rs
  protocol-units/execution/maptos/opt-executor/Cargo.toml
  protocol-units/execution/maptos/opt-executor/src/background/transaction_pipe.rs
  protocol-units/execution/maptos/opt-executor/src/bootstrap.rs
  protocol-units/execution/maptos/opt-executor/src/executor/execution.rs
  protocol-units/execution/maptos/opt-executor/src/executor/initialization.rs
  protocol-units/execution/maptos/opt-executor/src/service.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

improving simpleStaking but postconfirmation does not work
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(da): saner parsing of CELESTIA_NAMESPACE env
  Cargo.lock
  Cargo.toml
  protocol-units/da/movement/protocol/util/Cargo.toml
  protocol-units/da/movement/protocol/util/src/config/default.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

CODEOWNERS:

# global
*   @l-monninger @andyjsbell @0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @l-monninger @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @l-monninger @mzabaluev

# mempool
protocol-units/mempool/* @l-monninger @mzabaluev

# sequencing
protocol-units/sequencing/* @l-monninger @mzabaluev

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev

# bridge-cli
protocol-units/bridge-cli/* @0xmovses @andygolay

# bridge contracts
protocol-units/bridge/contracts/* @0xmovses @andygolay @0xPrimata

# bridge service 
protocol-units/bridge/bridge-service/* @0xmovses @andygolay

# bridge
protocol-units/bridge/* @0xmovses @andygolay

# bridge move modules
protocol-units/bridge/move-modules/* @0xmovses @andygolay

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @l-monninger

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @l-monninger

# mcr contracts
protocol-units/settlement/mcr/contracts/* @l-monninger @0xPrimata @andyjsbell

# networks
networks/* @l-monninger @mzabaluev @musitdev

# docker
docker/* @l-monninger @radupopa369

# process-compose
process-compose/* @l-monninger @radupopa369 @musitdev

# docs
docs/* @l-monninger

# nix
nix/* @l-monninger @musitdev @andyjsbell

# github actions
.github/workflows/* @l-monninger @andyjsbell @0xmovses @mzabaluev

# buildtime 
util/buildtime/* @l-monninger

# flocks 
util/flocks/* @l-monninger @mzabaluev

# commander 
util/commander/* @l-monninger @musitdev

# godfig
util/godfig/* @l-monninger @mzabaluev
