Repository movementlabsxyz/movement, changes with the owners that CODEOWNERS names for each.
All owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @andygolay, @0xPrimata, @radupopa369

CODEOWNERS:

# global
*   @l-monninger @andyjsbell @0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @l-monninger @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @l-monninger @mzabaluev

# mempool
protocol-units/mempool/* @l-monninger @mzabaluev

# sequencing
protocol-units/sequencing/* @l-monninger @mzabaluev

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev

# bridge-cli
protocol-units/bridge-cli/* @0xmovses @andygolay

# bridge contracts
protocol-units/bridge/contracts/* @0xmovses @andygolay @0xPrimata

# bridge service 
protocol-units/bridge/bridge-service/* @0xmovses @andygolay

# bridge
protocol-units/bridge/* @0xmovses @andygolay

# bridge move modules
protocol-units/bridge/move-modules/* @0xmovses @andygolay

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @l-monninger

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @l-monninger

# mcr contracts
protocol-units/settlement/mcr/contracts/* @l-monninger @0xPrimata @andyjsbell

# networks
networks/* @l-monninger @mzabaluev @musitdev

# docker
docker/* @l-monninger @radupopa369

# process-compose
process-compose/* @l-monninger @radupopa369 @musitdev

# docs
docs/* @l-monninger

# nix
nix/* @l-monninger @musitdev @andyjsbell

# github actions
.github/workflows/* @l-monninger @andyjsbell @0xmovses @mzabaluev

# buildtime 
util/buildtime/* @l-monninger

# flocks 
util/flocks/* @l-monninger @mzabaluev

# commander 
util/commander/* @l-monninger @musitdev

# godfig
util/godfig/* @l-monninger @mzabaluev

chore: remove println and improve move script fmt
  protocol-units/bridge/contracts/minter/sources/minter.move
  protocol-units/execution/maptos/framework/releases/feature-flags/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: remove old mrb, update new aptos-core commit
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/build.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/mrb_cache/cac54ca1473a66f88ca2ca6d3b07ce7f596ab929-biarritz-rc1.mrb
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/cached.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Upgrade Framework Script w/ Burn (#1084)
  Cargo.lock
  process-compose/movement-full-node/process-compose.test-migrate-elsa-to-biarritz-rc1.yml
  protocol-units/bridge/contracts/minter/sources/minter.move
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/build.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/cached.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: add back in missing submodule
  .gitmodules
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/mrb_cache/27397b5835e6a466c06c884a395653c9ff13d1fe-biarritz-rc1.mrb
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: add back in missing submodule and mrb_cache (#1094)
  .gitmodules
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/mrb_cache/27397b5835e6a466c06c884a395653c9ff13d1fe-biarritz-rc1.mrb
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

docs: update READMEs (#685)
  protocol-units/README.md
  protocol-units/sequencing/README.md
  protocol-units/sequencing/memseq/sequencer/README.md
  protocol-units/sequencing/memseq/sequencer/src/lib.rs
  protocol-units/settlement/README.md
  protocol-units/settlement/mcr/README.md
  protocol-units/settlement/mcr/contracts/README.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @0xPrimata

feat: Backup / restore follower DB (#1051)
  .gitignore
  Cargo.lock
  docker/compose/movement-full-node/docker-compose.follower.backup.yml
  docker/compose/movement-full-node/snapshot/docker-compose.push.yml
  docker/compose/movement-full-node/snapshot/docker-compose.restore.yml
  docker/compose/movement-full-node/snapshot/docker-compose.save_and_push.yml
  docker/compose/movement-full-node/snapshot/docker-compose.save_db.yml
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/backup/mod.rs
  networks/movement/movement-full-node/src/lib.rs
  networks/movement/setup/src/main.rs
  process-compose/movement-full-node/process-compose.with-snapshot-node.yml
  protocol-units/syncing/syncup/src/lib.rs
  scripts/movement-full-node/snapshot
  util/syncador/Cargo.toml
  util/syncador/src/backend/archive/gzip/mod.rs
  util/syncador/src/backend/archive/gzip/pull.rs
  util/syncador/src/backend/archive/gzip/push.rs
  util/syncador/src/backend/glob/file.rs
  util/syncador/src/backend/pipeline/pull.rs
  util/syncador/src/backend/s3/shared_bucket/mod.rs
  util/syncador/src/backend/s3/shared_bucket/pull.rs
  util/syncador/src/backend/s3/shared_bucket/push.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: MOVEMENT_SYNC is not longer mandatory (#1053)
  docker/compose/movement-full-node/docker-compose.follower.yml
  docker/compose/movement-full-node/docker-compose.leader.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: add testnet in key name environement (#1059)
  util/signing/interface/src/key/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Change Hashicorp Vault delimiter to a - (#1061)
  Cargo.lock
  util/signing/providers/hashicorp-vault/Cargo.toml
  util/signing/providers/hashicorp-vault/src/hsm/key.rs
  util/signing/providers/hashicorp-vault/src/hsm/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Gas Upgrades and Beta Fixes (#1055)
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
  Cargo.lock
  Cargo.toml
  docker/build/movement-full-node/Dockerfile
  process-compose/movement-full-node/process-compose.test-bring-up-elsa-to-biarritz-rc1.yml
  protocol-units/bridge/indexer-db/Cargo.toml
  protocol-units/bridge/indexer-db/src/client.rs
  protocol-units/bridge/indexer-db/src/lib.rs
  protocol-units/bridge/service/bin/start_indexer.rs
  protocol-units/execution/maptos/framework/releases/feature-flags/src/lib.rs
  protocol-units/execution/maptos/framework/releases/release-script/src/lib.rs
  protocol-units/execution/maptos/framework/releases/upgrade-gas/src/lib.rs
  protocol-units/execution/maptos/framework/releases/util/src/compiler.rs
  protocol-units/execution/maptos/framework/releases/util/src/lib.rs
  protocol-units/execution/maptos/framework/releases/util/src/voter.rs
  util/signing/providers/local/Cargo.toml
  util/signing/providers/local/src/cryptography/ed25519/mod.rs
  util/signing/providers/local/src/cryptography/mod.rs
  util/signing/providers/local/src/signer/ed25519.rs
  util/signing/providers/local/src/signer/mod.rs
  util/signing/providers/local/src/signer/secp256k1.rs
  util/signing/util/loader/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: add curl in the final container
  docker/build/movement-indexer/Dockerfile
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Add retry on DA connection (#1054)
  Cargo.lock
  protocol-units/da/movement/protocol/client/Cargo.toml
  protocol-units/da/movement/protocol/client/src/lib.rs
  util/godfig/src/backend/config_file/mod.rs
  util/godfig/src/backend/mod.rs
  util/signing/interface/src/key/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Update light client protocol and heartbeat. (#1064)
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/da/stream_blocks/mod.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  proto/movementlabs/protocol_units/da/light_node/v1beta2.proto
  protocol-units/da/movement/celestia/light-node/src/v1/passthrough.rs
  protocol-units/da/movement/protocol/da/Cargo.toml
  protocol-units/da/movement/protocol/da/src/lib.rs
  protocol-units/da/movement/protocol/da/src/mock/mod.rs
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/light-node/src/sequencer.rs
  protocol-units/da/movement/protocol/proto/build.rs
  protocol-units/da/movement/protocol/proto/src/lib.rs
  protocol-units/da/movement/protocol/util/src/blob/ir/blob.rs
  protocol-units/da/movement/protocol/util/src/config/common.rs
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
  protocol-units/da/movement/providers/digest-store/src/da/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Gas Upgrades Beta Fixes pt. 2 (#1070)
  .github/workflows/build-push-container.yml
  Cargo.lock
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/util/Cargo.toml
  protocol-units/da/movement/protocol/util/src/blob/ir/data.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/cached.rs
  protocol-units/execution/maptos/opt-executor/src/background/transaction_pipe.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(docker): celestia-light-node fixes (#1078)
  docker/compose/movement-full-node/docker-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: Add ans processor (#1081)
  networks/movement/indexer/src/main.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Upgrade script to use usecs after timestamp upgrading timestamp logic (#1075)
  .github/workflows/checks-all.yml
  protocol-units/bridge/contracts/minter/.gitignore
  protocol-units/bridge/contracts/minter/Move.toml
  protocol-units/bridge/contracts/minter/sources/minter.move
  protocol-units/da/movement/protocol/util/src/blob/ir/data.rs
  protocol-units/execution/maptos/framework/migrations/elsa-to-biarritz-rc1/src/lib.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/build.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/cached.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/lib.rs
  protocol-units/execution/maptos/framework/releases/feature-flags/src/lib.rs
  protocol-units/execution/maptos/framework/releases/release-script/src/lib.rs
  protocol-units/execution/maptos/framework/releases/upgrade-gas/src/lib.rs
  protocol-units/execution/maptos/framework/releases/util/src/lib.rs
  protocol-units/settlement/mcr/contracts/minter/Move.toml
  protocol-units/settlement/mcr/contracts/minter/sources/minter.move
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

ci: fix unit tests (#1069)
  Cargo.lock
  protocol-units/da/movement/protocol/util/src/blob/ir/blob.rs
  protocol-units/execution/maptos/opt-executor/src/executor/execution.rs
  util/signing/testing/Cargo.toml
  util/signing/testing/tests/execute.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Correct DA client http2 connection (#1079)
  protocol-units/da/movement/protocol/client/Cargo.toml
  protocol-units/da/movement/protocol/client/src/http2.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: Update executor block validator signer to use LoadedSigner, add test key admin command (#1063)
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/admin/mod.rs
  networks/movement/movement-full-node/src/admin/testkey/mod.rs
  networks/movement/movement-full-node/src/node/partial.rs
  process-compose/movement-full-node/process-compose.yml
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-appd.rs
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-bridge.rs
  protocol-units/da/movement/protocol/celestia-runners/src/bin/celestia-light.rs
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/bin/setup.rs
  protocol-units/da/movement/protocol/util/src/bin/wait_for_light_node.rs
  protocol-units/execution/maptos/dof/src/v1.rs
  protocol-units/execution/maptos/fin-view/src/fin_view.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/mrb_cache/aa45303216be96ea30d361ab7eb2e95fb08c2dcb-biarritz-rc1.mrb
  protocol-units/execution/maptos/opt-executor/Cargo.toml
  protocol-units/execution/maptos/opt-executor/src/background/transaction_pipe.rs
  protocol-units/execution/maptos/opt-executor/src/bootstrap.rs
  protocol-units/execution/maptos/opt-executor/src/executor/execution.rs
  protocol-units/execution/maptos/opt-executor/src/executor/initialization.rs
  protocol-units/execution/maptos/opt-executor/src/service.rs
  util/signing/testing/tests/execute.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: HTTP2 Connection Should be Used for DA Tool (#1085)
  networks/movement/movement-full-node/src/da/stream_blocks/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: add back labeled builds (#1072)
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
  .github/workflows/hsm-demo-containers.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

fix: trigger build and check when push to main (#1090)
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

feat: Upgrade Framework Script w/ Burn (#1084)
  Cargo.lock
  process-compose/movement-full-node/process-compose.test-migrate-elsa-to-biarritz-rc1.yml
  protocol-units/bridge/contracts/minter/sources/minter.move
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/build.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/cached.rs
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: add back in missing submodule and mrb_cache (#1094)
  .gitmodules
  protocol-units/execution/maptos/framework/releases/biarritz-rc1/mrb_cache/27397b5835e6a466c06c884a395653c9ff13d1fe-biarritz-rc1.mrb
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore(version): 0.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

revert toolchain changes and add some logs
  flake.lock
  flake.nix
  networks/movement/movement-client/Cargo.toml
  networks/movement/movement-client/src/bin/e2e/sequence_number_ooo.rs
  rust-toolchain.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: update aptos core rev
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: update aptos core rev (#1095)
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore(version): 0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: build and test on tag creation
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

fix: build on tag
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

fix: build on tag (#1097)
  .github/workflows/build-push-containers-all.yml
  .github/workflows/checks-all.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

hotfix: allow sequence numbers to be too old by some value.
  protocol-units/execution/maptos/opt-executor/src/background/transaction_pipe.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore(version): 0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: revert aptose core version bump
  Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore: reverted aptos core in cargo lock
  Cargo.lock
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: add tracing
  Cargo.lock
  protocol-units/execution/maptos/opt-executor/src/background/transaction_pipe.rs
  protocol-units/execution/maptos/opt-executor/src/executor/execution.rs
  protocol-units/mempool/util/Cargo.toml
  protocol-units/mempool/util/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: fix load test declaration
  networks/movement/movement-client/Cargo.toml
  process-compose/movement-full-node/process-compose.load.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev
