Repository movementlabsxyz/movement, changes with the owners that CODEOWNERS names for each.
All owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @andygolay, @0xPrimata, @radupopa369

fix: celestia mainnet URLs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mainnet.rs
  protocol-units/da/movement/protocol/setup/src/mainnet.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat!(da): celestia light node keyname configuration
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/arabica.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mainnet.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mocha.rs
  protocol-units/da/movement/protocol/util/src/config/light.rs
  protocol-units/da/movement/protocol/util/src/config/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: process-compose overlay for celestia-mainnet
  process-compose/movement-full-node/process-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

getEpochByL1BlockTime
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

revert getEpochByL1BlockTime
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

revert getEpochByL1BlockTime
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat(da): set Celestia light node key name from env
  protocol-units/da/movement/protocol/util/src/config/default.rs
  protocol-units/da/movement/protocol/util/src/config/light.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

revert to hash
  networks/movement/movement-client/src/bin/e2e/mint_burn.rs
  process-compose/movement-full-node/process-compose.test-mint-burn.yml
  protocol-units/bridge/move-modules/scripts/burn_from.move
  protocol-units/bridge/move-modules/scripts/mint_to.move
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

expected to fail
  networks/movement/movement-client/Cargo.toml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add mappings and start acceptor liveness fun
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

superblocks
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

correct chunk file order, snapshot test
  process-compose/movement-full-node/process-compose.with-snapshot-node.yml
  scripts/movement-full-node/snapshot
  util/syncador/src/backend/s3/shared_bucket/mod.rs
  util/syncador/src/backend/s3/shared_bucket/pull.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

remove old archive file and define docker file for backup follower
  docker/compose/movement-full-node/docker-compose.follower.backup.yaml
  util/syncador/src/backend/s3/shared_bucket/mod.rs
  util/syncador/src/backend/s3/shared_bucket/pull.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

init
  .github/pull_request_template.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

IMCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/interfaces/IMCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

rename to superBlock and L1Block in settlement sols
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

superblock and l1block for staking contract
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add MIP link
  protocol-units/settlement/mcr/contracts/README.md
Owners: @l-monninger, @0xPrimata, @andyjsbell

fix MIP number
  protocol-units/settlement/mcr/contracts/README.md
Owners: @l-monninger, @0xPrimata, @andyjsbell

auto fix readme layout
  protocol-units/settlement/mcr/contracts/README.md
Owners: @l-monninger, @0xPrimata, @andyjsbell

blockId
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

superblock and l1block in tests
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update mcr to consider correct function from staking
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: bad naming.
  networks/movement/movement-full-node/src/admin/config/migrate/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: bad naming.
  networks/movement/movement-full-node/src/admin/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: debugging migration script.
  networks/movement/movement-full-node/src/admin/config/migrate/elsa_to_biarritz_rc1/mod.rs
  util/dot-movement/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

[protocol-units] : update READMEs (#685)
  protocol-units/README.md
  protocol-units/sequencing/README.md
  protocol-units/sequencing/memseq/sequencer/README.md
  protocol-units/sequencing/memseq/sequencer/src/lib.rs
  protocol-units/settlement/README.md
  protocol-units/settlement/mcr/README.md
  protocol-units/settlement/mcr/contracts/README.md
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @0xPrimata

chore(da): clean up old celestia files
  protocol-units/da/movement/celestia/light-node-verifier/src/permissioned_signers/mod.rs
  protocol-units/da/movement/celestia/light-node/src/v1/passthrough.rs
  protocol-units/da/movement/celestia/util/src/ir_blob.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update rs files
  protocol-units/settlement/mcr/client/abis/MCR.json
  protocol-units/settlement/mcr/client/src/eth_client.rs
  protocol-units/settlement/mcr/client/src/lib.rs
  protocol-units/settlement/mcr/client/src/mock.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update: .gitignore
  .gitignore
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add DA heartbeat
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/da/stream_blocks/mod.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  process-compose/movement-full-node/process-compose.test-followers.yml
  proto/movementlabs/protocol_units/da/light_node/v1beta2.proto
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/proto/build.rs
  protocol-units/da/movement/protocol/proto/src/lib.rs
  protocol-units/da/movement/protocol/util/src/config/common.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

remove some comments
  process-compose/movement-full-node/process-compose.test-followers.yml
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/proto/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(da): --keyring.backend to celestia light init
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/mainnet.rs
  protocol-units/da/movement/protocol/setup/src/mocha.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat(da): output namespace in da light node log
  protocol-units/da/movement/protocol/light-node/src/sequencer.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(da): --keyring.backend for celestia light start
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mainnet.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mocha.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update variable names
  protocol-units/settlement/mcr/client/src/eth_client.rs
  util/movement-types/src/block.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

[Node] Correct DA stream timeout error. (#1049)
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/da/stream_blocks/mod.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  proto/movementlabs/protocol_units/da/light_node/v1beta2.proto
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/proto/build.rs
  protocol-units/da/movement/protocol/proto/src/lib.rs
  protocol-units/da/movement/protocol/util/src/config/common.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add backup snapshot
  .gitignore
  Cargo.lock
  docker/compose/movement-full-node/docker-compose.follower.backup.yml
  docker/compose/movement-full-node/snapshot/docker-compose.push.yml
  docker/compose/movement-full-node/snapshot/docker-compose.restore.yml
  docker/compose/movement-full-node/snapshot/docker-compose.save_and_push.yml
  docker/compose/movement-full-node/snapshot/docker-compose.save_db.yml
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/backup/mod.rs
  networks/movement/movement-full-node/src/lib.rs
  networks/movement/setup/src/main.rs
  process-compose/movement-full-node/process-compose.with-snapshot-node.yml
  protocol-units/syncing/syncup/src/lib.rs
  scripts/movement-full-node/snapshot
  util/syncador/Cargo.toml
  util/syncador/src/backend/archive/gzip/mod.rs
  util/syncador/src/backend/archive/gzip/pull.rs
  util/syncador/src/backend/archive/gzip/push.rs
  util/syncador/src/backend/glob/file.rs
  util/syncador/src/backend/pipeline/pull.rs
  util/syncador/src/backend/s3/shared_bucket/mod.rs
  util/syncador/src/backend/s3/shared_bucket/pull.rs
  util/syncador/src/backend/s3/shared_bucket/push.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

minor edits
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

comments
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

CODEOWNERS:

# global
*   @l-monninger @andyjsbell @0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @l-monninger @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @l-monninger @mzabaluev

# mempool
protocol-units/mempool/* @l-monninger @mzabaluev

# sequencing
protocol-units/sequencing/* @l-monninger @mzabaluev

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev

# bridge-cli
protocol-units/bridge-cli/* @0xmovses @andygolay

# bridge contracts
protocol-units/bridge/contracts/* @0xmovses @andygolay @0xPrimata

# bridge service 
protocol-units/bridge/bridge-service/* @0xmovses @andygolay

# bridge
protocol-units/bridge/* @0xmovses @andygolay

# bridge move modules
protocol-units/bridge/move-modules/* @0xmovses @andygolay

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @l-monninger

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @l-monninger

# mcr contracts
protocol-units/settlement/mcr/contracts/* @l-monninger @0xPrimata @andyjsbell

# networks
networks/* @l-monninger @mzabaluev @musitdev

# docker
docker/* @l-monninger @radupopa369

# process-compose
process-compose/* @l-monninger @radupopa369 @musitdev

# docs
docs/* @l-monninger

# nix
nix/* @l-monninger @musitdev @andyjsbell

# github actions
.github/workflows/* @l-monninger @andyjsbell @0xmovses @mzabaluev

# buildtime 
util/buildtime/* @l-monninger

# flocks 
util/flocks/* @l-monninger @mzabaluev

# commander 
util/commander/* @l-monninger @musitdev

# godfig
util/godfig/* @l-monninger @mzabaluev
