Repository movementlabsxyz/movement, changes with the owners that CODEOWNERS names for each.
All owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @andygolay, @0xPrimata, @radupopa369

fix: redundant clone
  networks/movement/setup/src/main.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix testPostconfirmationWithMultipleStakers
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

moved the major postconfirmation test to new file
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/base.t.sol
  protocol-units/settlement/mcr/contracts/test/settlement/majoritytests.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

remove carol
  protocol-units/settlement/mcr/contracts/test/settlement/majoritytests.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

bring functions back in one file
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/base.t.sol
  protocol-units/settlement/mcr/contracts/test/settlement/majoritytests.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

testAcceptorRewards
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

testAcceptorRewards
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

add testkey admin function
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/admin/mod.rs
  networks/movement/movement-full-node/src/admin/testkey/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

more logs for testChangingValidatorSet
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix testChangingAttesterSet
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

remove console logs
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

final cuts to the recent test fix
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: celestia-appd loop.
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_appd/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: increase to 16cpvu.
  .github/workflows/build-push-container.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev

fix(process-compose): pre-build tests
  process-compose/movement-full-node/process-compose.test.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: move into docker compose.
  docker/compose/movement-full-node/docker-compose.celestia-mainnet-trusted.yml
  docker/compose/movement-full-node/docker-compose.mainnet-leader.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: strip out eth.
  docker/compose/movement-full-node/docker-compose.celestia-mainnet-trusted.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

commitment templates
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

newHonestCommitment
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix testDishonestAttester
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

improve supermajority tests
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix testRolloverHandlingWithDishonesty
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

testCannotGrantRoleFuzz
  protocol-units/settlement/mcr/contracts/test/token/MOVETokenV2.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

StakeForAcceptingEpoch and CustodianStake (#1060)
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/staking/MovementStaking.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

remove duplicated function
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update MCR to include an acceptor role (#713)
  protocol-units/settlement/mcr/client/abis/MCR.json
  protocol-units/settlement/mcr/client/src/eth_client.rs
  protocol-units/settlement/mcr/contracts/README.md
  protocol-units/settlement/mcr/contracts/script/DeployMCRDev.s.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/src/settlement/interfaces/IMCR.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
  protocol-units/settlement/mcr/contracts/test/settlement/MCR.sol
  protocol-units/settlement/mcr/contracts/test/token/Faucet.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVEToken.t.sol
  protocol-units/settlement/mcr/contracts/test/token/MOVETokenV2.t.sol
  protocol-units/settlement/mcr/contracts/test/token/locked/LockedToken.t.sol
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev, @0xPrimata

fix: movement celestia still needed.
  docker/compose/movement-full-node/docker-compose.celestia-mainnet-trusted.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: udpate websocket connection.
  docker/compose/movement-full-node/docker-compose.celestia-mainnet-trusted.yml
  protocol-units/da/movement/protocol/util/src/config/appd.rs
  protocol-units/da/movement/protocol/util/src/config/da_light_node.rs
  protocol-units/da/movement/protocol/util/src/config/default.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(docker): run light node for celestia-mainnet
  docker/compose/movement-full-node/docker-compose.celestia-mainnet-trusted.yml
  docker/compose/movement-full-node/docker-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(docker): workable celestia light node check
  docker/compose/movement-full-node/docker-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(docker): workable CELESTIA_NAMESPACE
  docker/compose/movement-full-node/docker-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

feat: Run celestia light node with --node.store
  Cargo.lock
  Cargo.toml
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/arabica.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mainnet.rs
  protocol-units/da/movement/protocol/celestia-runners/src/celestia_light/mocha.rs
  protocol-units/da/movement/protocol/setup/src/arabica.rs
  protocol-units/da/movement/protocol/setup/src/common/celestia.rs
  protocol-units/da/movement/protocol/setup/src/mainnet.rs
  protocol-units/da/movement/protocol/setup/src/mocha.rs
  util/commander/Cargo.toml
  util/commander/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix(docker): use --node.store with celestia light node
  docker/compose/movement-full-node/docker-compose.celestia-mainnet.yml
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

update DA protocol to v1beta2
  Cargo.lock
  networks/movement/movement-full-node/Cargo.toml
  networks/movement/movement-full-node/src/da/stream_blocks/mod.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  proto/movementlabs/protocol_units/da/light_node/v1beta2.proto
  protocol-units/da/movement/celestia/light-node/src/v1/passthrough.rs
  protocol-units/da/movement/protocol/da/Cargo.toml
  protocol-units/da/movement/protocol/da/src/lib.rs
  protocol-units/da/movement/protocol/da/src/mock/mod.rs
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
  protocol-units/da/movement/protocol/light-node/src/sequencer.rs
  protocol-units/da/movement/protocol/proto/build.rs
  protocol-units/da/movement/protocol/proto/src/lib.rs
  protocol-units/da/movement/protocol/util/src/blob/ir/blob.rs
  protocol-units/da/movement/protocol/util/src/config/common.rs
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
  protocol-units/da/movement/providers/digest-store/src/da/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: lumina version.
  Cargo.lock
  Cargo.toml
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

Test and remove some logs
  Cargo.lock
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  protocol-units/da/movement/protocol/da/src/lib.rs
  protocol-units/da/movement/protocol/light-node/src/passthrough.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: debug add blogb logging.
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

skip block error
  Cargo.lock
  networks/movement/movement-full-node/src/node/manager.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

fix: additional logging for da blob.
  networks/movement/movement-config/src/releases/biarritz_rc1/da_db.rs
  networks/movement/movement-full-node/src/node/tasks/execute_settle.rs
  protocol-units/da/movement/providers/celestia/src/da/mod.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

chore(commander): remove spawn_command
  util/commander/src/lib.rs
Owners: @l-monninger, @andyjsbell, @0xmovses, @mzabaluev, @musitdev

CODEOWNERS:

# global
*   @l-monninger @andyjsbell @0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @l-monninger @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @l-monninger @mzabaluev

# mempool
protocol-units/mempool/* @l-monninger @mzabaluev

# sequencing
protocol-units/sequencing/* @l-monninger @mzabaluev

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev

# bridge-cli
protocol-units/bridge-cli/* @0xmovses @andygolay

# bridge contracts
protocol-units/bridge/contracts/* @0xmovses @andygolay @0xPrimata

# bridge service 
protocol-units/bridge/bridge-service/* @0xmovses @andygolay

# bridge
protocol-units/bridge/* @0xmovses @andygolay

# bridge move modules
protocol-units/bridge/move-modules/* @0xmovses @andygolay

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @l-monninger

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @l-monninger

# mcr contracts
protocol-units/settlement/mcr/contracts/* @l-monninger @0xPrimata @andyjsbell

# networks
networks/* @l-monninger @mzabaluev @musitdev

# docker
docker/* @l-monninger @radupopa369

# process-compose
process-compose/* @l-monninger @radupopa369 @musitdev

# docs
docs/* @l-monninger

# nix
nix/* @l-monninger @musitdev @andyjsbell

# github actions
.github/workflows/* @l-monninger @andyjsbell @0xmovses @mzabaluev

# buildtime 
util/buildtime/* @l-monninger

# flocks 
util/flocks/* @l-monninger @mzabaluev

# commander 
util/commander/* @l-monninger @musitdev

# godfig
util/godfig/* @l-monninger @mzabaluev
