Repository movementlabsxyz/movement, changes with the owners that CODEOWNERS names for each.
All owners: @andygolay, @0xmovses, @mzabaluev, @musitdev, @0xPrimata, @radupopa369

CODEOWNERS:

# global
*   @andygolay @0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @andygolay @mzabaluev @musitdev @0xmovses

# mempool
protocol-units/mempool/* @andygolay @mzabaluev @musitdev @0xmovses

# sequencing
protocol-units/sequencing/* @andygolay @mzabaluev @musitdev @0xmovses

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev 

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @andygolay

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @andygolay

# mcr contracts
protocol-units/settlement/mcr/contracts/* @andygolay @0xPrimata 

# networks
networks/* @andygolay @mzabaluev @musitdev @0xmovses

# docker
docker/* @andygolay @radupopa369

# process-compose
process-compose/* @andygolay @radupopa369 @musitdev @0xmovses

# docs
docs/* @andygolay @mzabaluev @musitdev @0xmovses

# nix
nix/* @andygolay @musitdev  @0xmovses

# github actions
.github/workflows/* @andygolay  @0xmovses @mzabaluev @musitdev 

# buildtime 
util/buildtime/* @andygolay @0xmovses @mzabaluev @musitdev 

# flocks 
util/flocks/* @andygolay @mzabaluev @0xmovses @mzabaluev 

# commander 
util/commander/* @andygolay @musitdev @0xmovses @mzabaluev 

# godfig
util/godfig/* @andygolay @mzabaluev @musitdev @0xmovses

bring back latest changes
  protocol-units/settlement/mcr/contracts/README.md
  protocol-units/settlement/mcr/contracts/script/DeployMCRDev.s.sol
  protocol-units/settlement/mcr/contracts/script/helpers/Helper.sol
  protocol-units/settlement/mcr/contracts/src/settlement/MCRStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStaking.sol
  protocol-units/settlement/mcr/contracts/src/staking/MovementStakingStorage.sol
  protocol-units/settlement/mcr/contracts/src/staking/interfaces/IMovementStaking.sol
Owners: @andygolay, @0xPrimata, @0xmovses, @mzabaluev, @musitdev

fix: reinclude latest MCR
  protocol-units/settlement/mcr/contracts/src/settlement/MCR.sol
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

remove foundry.lock
  protocol-units/settlement/mcr/contracts/foundry.lock
Owners: @andygolay, @0xPrimata

add indexer v2 driver.
  .github/workflows/build-push-containers-all.yml
  Cargo.lock
  Cargo.toml
  docker/build/movement-indexer-v2/Dockerfile
  docker/compose/movement-indexer/docker-compose.local-development.indexer-v2.yml
  networks/movement/indexer-v2/Cargo.toml
  networks/movement/indexer-v2/bin/load_metadata.rs
  networks/movement/indexer-v2/hasura_metadata.json
  networks/movement/indexer-v2/src/main.rs
  protocol-units/execution/maptos/opt-executor/src/executor/initialization.rs
  protocol-units/execution/maptos/opt-executor/src/indexer.rs
  protocol-units/execution/maptos/util/Cargo.toml
  protocol-units/execution/maptos/util/src/config/chain.rs
  protocol-units/execution/maptos/util/src/config/common.rs
  protocol-units/execution/maptos/util/src/config/indexer_processor_v2.rs
  protocol-units/execution/maptos/util/src/config/mod.rs
  util/health/Cargo.toml
  util/health/src/lib.rs
  util/tracing/src/simple_metrics.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: use aptos-core commit hash with correct prerequisite functions
  Cargo.lock
  Cargo.toml
  protocol-units/execution/maptos/framework/releases/known-release/Cargo.toml
  protocol-units/execution/maptos/framework/releases/known-release/src/lib.rs
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/build.rs
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/mrb_cache/c5d8d936b7775436ff6c256e10049b4de497c220-pre-l1-merge.mrb
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/mrb_cache/edafe2e5ed6ce462fa81d08faf5d5008fa836ca2-pre-l1-merge.mrb
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

add feature table comparision and activation
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

correct md
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

add governed gas pool features
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

add feature id and update with Bo remarks
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

add remarks from #30 issue
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: test core_resources_rotation
  networks/movement/movement-client/src/bin/e2e/key_rotation.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: create new test file
  networks/movement/movement-client/Cargo.toml
  networks/movement/movement-client/src/bin/e2e/core_resources_rotation.rs
  networks/movement/movement-client/src/bin/e2e/key_rotation.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: define new test file and proc comp declare
  networks/movement/movement-client/Cargo.toml
  networks/movement/movement-client/src/bin/e2e/core_resources_rotation.rs
  process-compose/movement-full-node/process-compose.test-core-resources-rotation.yml
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: add test for governance signing
  Cargo.lock
  process-compose/movement-full-node/process-compose.test-core-resources-rotation.yml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/Cargo.toml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/cached.rs
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/lib.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: update release bin to sign with rotated core_resource acc
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

add feature explanation
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: add build features
  process-compose/movement-full-node/process-compose.test-upgrade-framework-rotated-key.yml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/build.rs
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/Cargo.toml
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: missing depends in proc comp file
  process-compose/movement-full-node/process-compose.test-upgrade-framework-rotated-key.yml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/mrb_cache/edafe2e5ed6ce462fa81d08faf5d5008fa836ca2-pre-l1-merge.mrb
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: add utilities to release for acc rotation
  Cargo.lock
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/Cargo.toml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: compiler errors
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: add faucet cmd in proc comp
  process-compose/movement-full-node/process-compose.test-upgrade-framework-rotated-key.yml
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: add missing rotate call
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: add telemetry intialization in full node and added env variables flor the fullnode docker compose
  docker/compose/movement-full-node/docker-compose.fullnode.yml
  networks/movement/movement-full-node/src/main.rs
  util/tracing/src/lib.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: telemetry intialization in full node and added env variables (#1291)
  docker/compose/movement-full-node/docker-compose.fullnode.yml
  networks/movement/movement-full-node/src/main.rs
  util/tracing/src/lib.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: rotation gov test
  Cargo.lock
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/Cargo.toml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: bug
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

enable the indexer.
  Cargo.lock
  Cargo.toml
  docker/compose/movement-indexer/docker-compose.local-development.indexer-v2.yml
  networks/movement/indexer-v2/Cargo.toml
  networks/movement/indexer-v2/src/main.rs
  protocol-units/execution/maptos/opt-executor/Cargo.toml
  protocol-units/execution/maptos/opt-executor/src/bootstrap.rs
  protocol-units/execution/maptos/opt-executor/src/executor/initialization.rs
  protocol-units/execution/maptos/opt-executor/src/indexer.rs
  protocol-units/execution/maptos/util/src/config/chain.rs
  protocol-units/execution/maptos/util/src/config/common.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: test
  process-compose/movement-full-node/process-compose.test-upgrade-framework-rotated-key.yml
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/build.rs
  protocol-units/execution/maptos/framework/releases/core-resources-rotation/src/bin/release.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: update readme
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: update ggp detail
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

Features to activate / deactivate (#1287)
  protocol-units/execution/maptos/framework/releases/README.md
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

test: initial feature change apply
  protocol-units/execution/maptos/framework/releases/README.md
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: e2e tests to check if feature flag is enabled and if gas collection happens properly
  justfile
  networks/movement/movement-client/Cargo.toml
  networks/movement/movement-client/src/bin/e2e/framework_upgrade_collect_gas_fees_test.rs
  networks/movement/movement-client/src/bin/e2e/verify_collect_fee_deprecation.rs
  process-compose/movement-full-node/process-compose.test-e2e-framework-upgrade-collect-gas-fees.yml
  process-compose/movement-full-node/process-compose.test-e2e-verify-collect-fee.yml
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

test: update feature flag test to run load test post upgrade
  process-compose/movement-full-node/process-compose.test-migrate-biarritz-rc1-to-pre-l1-merge.yml
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

test: disable vm bin fmt v7
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: remove disabled for now
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

feat: add disable feature test
  Cargo.lock
  protocol-units/execution/maptos/framework/releases/disable-features/Cargo.toml
  protocol-units/execution/maptos/framework/releases/disable-features/build.rs
  protocol-units/execution/maptos/framework/releases/disable-features/mrb_cache/edafe2e5ed6ce462fa81d08faf5d5008fa836ca2-disable-features.mrb
  protocol-units/execution/maptos/framework/releases/disable-features/src/bin/release.rs
  protocol-units/execution/maptos/framework/releases/disable-features/src/cached.rs
  protocol-units/execution/maptos/framework/releases/disable-features/src/lib.rs
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

fix: modules and imports
  Cargo.lock
  protocol-units/execution/maptos/framework/releases/disable-features/Cargo.toml
  protocol-units/execution/maptos/framework/releases/disable-features/src/bin/release.rs
  protocol-units/execution/maptos/framework/releases/disable-features/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: trim down readme
  protocol-units/execution/maptos/framework/releases/README.md
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev

chore: bump aptos deps to l1-migration
  Cargo.toml
  protocol-units/execution/maptos/framework/releases/pre-l1-merge/src/cached.rs
Owners: @andygolay, @0xmovses, @mzabaluev, @musitdev
